 a:link {
    text-decoration: none;
 }
 .antraste {
	 color: #47341f;
	 text-align: center;
	 font-size: 60px;
 }
 .image{
	 height: 275px;
 }
 .eilute2
 {
	 text-align:center;
	 font-size: 17px;
 }
 h2{
	 
 }
 body{
	 background-color: #ffeddb;
 }
 #vardas
{

 font-family: Arial, Helvetica, sans-serif;
 text-align: bottom;
}